<h1>Create Cat</h1>

<%= form_for @cat do |f| %>

  <% if @cat.errors.present? %>
    <h1>There were <%= @cat.errors.count %> errors:</h1>
    <ul>
      <% @cat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :color %>
    <%= f.text_field :color %>
  </p>

  <p>
    <%= f.submit 'Create Cat' %>
  </p>


<% end %>